      <tr>
        <td><%= qualification.qualification %></td>
        <td><%= qualification.college_name %></td>
        <td><%= qualification.university %></td>
        <td><%= qualification.year %></td>
      </tr>
