<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="header-back-2"></div>
        </div>
    </div>
</div>
<h1>ContactUs#index</h1>
<p>Find me in app/views/contact_us/index.html.erb</p>
