<div class="ibox float-e-margins animated fadeInRight">
  <div class="ibox-title">
    <h5>New Events</h5>
    <div class="ibox-tools">
	  <a class="close-link">
        <i class="fa fa-times fa-md"></i>
      </a>
    </div>
  </div>
  <div class="ibox-content">
    <%= render 'form' %>
  </div>
</div>
