<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="header-back-2"></div>
        </div>
    </div>
</div>
<!-- for porfolio pictures -->
<section>
<div class="header-back four">
<div class="row">
<div class="col-md-2 m-t-lg m-b-lg" style="margin-left:30px">
    <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-paint-brush"></i>
    </button>
  </div>
</div>

<div class="row">
<div class="col-md-2 m-t-lg m-b-lg" style="margin-left:30px">
    <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-bookmark-o"></i>
    </button>
  </div>
</div>

<div class="row" >
<div class="col-md-2 m-t-lg m-b-lg" style="margin-left:30px">
    <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-graduation-cap"></i>
    </button>
  </div>
</div>

<div class="row">
<div class="col-md-2 m-t-lg m-b-lg" style="margin-left:30px">
    <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-facebook"></i>
    </button>
  </div>
</div>

<div class="row">
<div class="col-md-2 m-t-lg m-b-lg" style="margin-left:30px">
    <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-star "></i>
    </button>
  </div>
</div>

<div class="row">
<div class="col-md-2 m-t-lg m-b-lg" style="margin-left:30px">
    <button class="btn btn-warning btn-circle btn-lg" type="button"><i class="fa fa-phone"></i>
    </button>
  </div>
</div>
</div>
  
</section>

