<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="header-back-2"></div>
        </div>
    </div>
</div>

<div class="ibox-content">
<section class="#gallery" style="background-image:url(/assets/lovely couple.jpg");>
<div class="container">
<div class="row   ">
	<div class="col-md-2"></div>
	<div class="col-md-3">

		<img src="/assets/p1.jpg" class="img-responsive " alt="dashboard"/>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-3">
		<img src="/assets/p1.jpg" class="img-responsive" alt="dashboard"/>
	</div>
</div>	
<div class="col-md-2 m-t-lg m-b-lg"></div>
</div>

<section>

<div class="lightBoxGallery">
	<a href="enlarged view of the same image#" title="Image from Unsplash" data-gallery="">
	<img src="/assets/gallery/1s.jpg"/>
	
	                            <a href="/assets/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/2s.jpg"></a>
                            <a href="/assets/.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/3s.jpg"></a>
                            <a href="/assets/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/4s.jpg"></a>
                            <a href="/assets/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/5s.jpg"></a>
                            <a href="/assets/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/6s.jpg"></a>
                            <a href="/assets/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/7s.jpg"></a>
                            <a href="/assets/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/8s.jpg"></a>
                            <a href="/assets/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/9s.jpg"></a>
                            <a href="/assets/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/10s.jpg"></a>
                            <a href="/assets/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/12s.jpg"></a>
                            <a href="/assets/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/4s.jpg"></a>
                            <a href="/assets/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/5s.jpg"></a>
                            <a href="/assets/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/6s.jpg"></a>
                            <a href="/assets/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/7s.jpg"></a>
                            <a href="/assets/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/2s.jpg"></a>
                            <a href="/assets/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/3s.jpg"></a>
                            <a href="/assets/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/1s.jpg"></a>
                            <a href="/assets/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/9s.jpg"></a>
                            <a href="/assets/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/10s.jpg"></a>
                            <a href="/assets/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/11s.jpg"></a>
                            <a href="/assets/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/12s.jpg"></a>
                            <a href="/assets/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/4s.jpg"></a>
                            <a href="/assets/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="/assets/gallery/5s.jpg"></a>
                            

  <!-- for close -->
<!-- <div id="blueimp-gallery" class="blueimp-gallery">
	    <div class="slides"></div>
	     <h3 class="title"></h3>
                          	  <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
</div> -->
</div>
</div>
</section>
	<!-- 
	<div class="container ">
	<div class="row m-t-lg m-b-lg ">
		<div  class="col-md-2 animated rotateInDownLeft">
			<img src="/assets/5.jpg" class="img-responsive" alt="dashboard"/>
		</div>
		<div class="col-md-2 animated fadeInDown">
			<img src="/assets/p1.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated rotateInDownRight">
			<img src="/assets/p3.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated rotateInDownLeft">
			<img src="/assets/p4.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated fadeInDown">
			<img src="/assets/p4.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated rotateInDownRight">
			<img src="/assets/p4.jpg" class="img-responsive" alt="dashboard"/></div>
	</div>
	<div class="row m-t-lg m-b-l">
		<div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
		<div>
			<i class="fa fa-tags">Category 1</i>
		</div>				            
	  </div>
	  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
		<div>
			<i class="fa fa-tags">Category 1</i>
		</div>				            
	  </div>
	  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
		<div>
			<i class="fa fa-tags">Category 1</i>
		</div>				            
	  </div>
	  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
		<div>
			<i class="fa fa-tags">Category 2</i>
		</div>				            
	  </div>
	  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
		<div>
			<i class="fa fa-tags">Category 2</i>
		</div>				            
	  </div>
	  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
		<div>
			<i class="fa fa-tags">Category 1</i>
		</div>				            
	  </div>
	</div>
	<div class="row m-t-lg m-b-lg">
		<div  class="col-md-2 animated rotateInDownLeft">
			<img src="/assets/5.jpg" class="img-responsive" alt="dashboard"/>
		</div>
		<div class="col-md-2 animated slideInLeft">
			<img src="/assets/p1.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated slideInRight">
			<img src="/assets/p3.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated rotateInDownRight">
			<img src="/assets/p4.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated rotateInDownRight">
			<img src="/assets/p4.jpg" class="img-responsive" alt="dashboard"/></div>
		<div class="col-md-2 animated rotateInDownRight">
			<img src="/assets/p4.jpg" class="img-responsive" alt="dashboard"/></div>
	</div>
<div class="row m-t-lg m-b-l">
	<div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
	<div>
		<i class="fa fa-tags">Category 1</i>
	</div>				            
  </div>
  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
	<div>
		<i class="fa fa-tags">Category 1</i>
	</div>				            
  </div>
  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
	<div>
		<i class="fa fa-tags">Category 1</i>
	</div>				            
  </div>
  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
	<div>
		<i class="fa fa-tags">Category 2</i>
	</div>				            
  </div>
  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
	<div>
		<i class="fa fa-tags">Category 2</i>
	</div>				            
  </div>
  <div class="col-md-2 text-center" style="visibility: visible; -webkit-animation: fadeInLeft;">
	<div>
		<i class="fa fa-tags">Category 2</i>
	</div>				            
  </div>
</div>

</div> -->
	
</section>
<!-- write a function on onlick of thr artist profile and segregate the pictures accordingly java script function-->
